<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearDashboard.Wpf.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearDashboard.Wpf.Application.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="language_code" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProjectLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="SidebarExpandedWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="EnhancedSidebarExpandedWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MirrorViewScaleValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TitleFontSizeValue" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TargetFontSizeValue" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TargetVerticalValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TargetHorizontalValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SourceFontSizeValue" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SourceVerticalValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SourceHorizontalValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TranslationsFontSizeValue" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="NoteIndicatorSizeValue" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EnablePowerModes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAquaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAquaInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParagraphMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerseByVerseTextCollectionsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PinsShowBackTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailUser" serializeAs="String">
                <value>y9wlMv6K7uJo4S5lqj6e+izocSU9ls4QGhz2vk4qSus=</value>
            </setting>
            <setting name="EmailPass" serializeAs="String">
                <value>xtoD/SxgDM+2D9A/rOD/EX9vr9TsoDj0iMnJbgun+tk=</value>
            </setting>
            <setting name="DifferentMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThirdMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JiraUser" serializeAs="String">
                <value>dirk.kaiser@clear.bible</value>
            </setting>
            <setting name="JiraToken" serializeAs="String">
                <value>ATATT3xFfGF0qGkLXJcyCb8vCNGKc-qsHtK1Va-M0FxkFD0pldZVZtnaaCDRCUV6QyqBy9t2mIwHoFYrtx5ddmcpFHGb6FRS09r9VC6psItw7mKv9a_eca0SeBaiCzj-oGOo1VFjtsodqwlx-NqxI2FFHJZrFgpGBQRJdxciynI6ZCPKKoYxf0E=EB25BFDE</value>
            </setting>
            <setting name="JiraBaseUrl" serializeAs="String">
                <value>https://clearbible.atlassian.net</value>
            </setting>
            <setting name="IsTokenSplittingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotesIndicatorVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranslationNotesIndicatorVisibility" serializeAs="String">
                <value>True</value>
            </setting>
        </ClearDashboard.Wpf.Application.Properties.Settings>
    </userSettings>
</configuration>