<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearDashboard.Wpf.Application.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearDashboard.Wpf.Application.Settings>
            <setting name="GitRootUrl" serializeAs="String">
                <value>https://gitlab.cleardashboard.org/api/v4/</value>
            </setting>
            <setting name="MySqlRootUrl" serializeAs="String">
                <value>https://mysqluser.cleardashboard.org</value>
            </setting>
        </ClearDashboard.Wpf.Application.Settings>
    </userSettings>
</configuration>