<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearDashboard.Wpf.Application.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClearDashboard.Wpf.Application.Settings>
            <setting name="GitRootUrl" serializeAs="String">
                <value>https://gitlab.cleardashboard.org/api/v4/</value>
            </setting>
            <setting name="CollaborationRootUrl" serializeAs="String">
                <value>https://collaborationapi.cleardashboard.org</value>
            </setting>
            <setting name="BearerTokenEncrypted" serializeAs="String">
                <value>Gjg4AdLk5TVU02iIdOPZFgbNqsXxSZJXKxGuGPhoCZuZ/Jgd/nQs8Zlx9ni+TBFXZEnwUjB4TQT085Oxnwq7rhdII2mUFS28DhCJUkF36mQI7RBRzJOwSPF42QA1iQCqH9A235Li4nzLdtu/VEfNQ63dW40bA/TWM5IbSL426aBvJeg30iJzFWP4XR/poqSrAaCWZya5F6d7Cvcwx+5/Pq6G+jfdk9bNp6vQwtVdpgStFRY1uS6dLX1hXn73sdZjHsS4+587e5MnROMT0LUWeiDjzvWMJ1Mm/dWBGl040tdOr2VngGpuHqWULb1V4KcS+KqNPqZY4Ugqayr7Noo4KzOrdelFpTci7euVtyG5z2SbxXDmqe8Xgbj2TLMVkjEjt68wKdq6pfsgCaZFJeTwhV2jO7/uKOZOImUlwBpGmqm/18KuLJK/NH03ApsyFU2fplxczyfDO/y3WV3o1G6RqugTKdjLU/GJgDjwhyYYsxaIKDBd0Ie+wm6QKDBZ+OLMa9jvat0AfvqXDI7qkmgq8HGalEMNWPfY+RrV7BvIDnJ0wMP5kUWbtgqwP5CIsS0++cLHOyV1dsFh/QwBoFDYHmO5Qvv4D4DeocUmfPVbjpO2hKKGl7BP+7+ctFRozrWmjVTRXkkLGT5cf+K7CRbdv+gBMZaYTGlsxzKr24GuiMNJlCYkrj9dfXMBomkG8DG4NwJGx+v110W7FaOHkcmc1qlwqMd882i8HRnvE+TPw9wPUXkEmvxnkyksjLqkI+Rd</value>
            </setting>
            <setting name="IsAlignmentEditingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTokenSplittingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </ClearDashboard.Wpf.Application.Settings>
    </userSettings>
</configuration>