<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
	<RootPanel Orientation="Horizontal">
		<LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="417" FloatingWidth="1422" FloatingHeight="476" FloatingLeft="2117" FloatingTop="620">
			<LayoutAnchorablePane DockWidth="417" DockHeight="466" FloatingWidth="1422" FloatingHeight="476" FloatingLeft="2117" FloatingTop="620">
				<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🕮 BIBLICAL TERMS" IsSelected="True" ContentId="BIBLICALTERMS" FloatingLeft="2117" FloatingTop="620" FloatingWidth="1422" FloatingHeight="476" CanClose="True" LastActivationTimeStamp="05/06/2022 10:57:12" />
				<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="⌺ WORD MEANINGS" ContentId="WORDMEANINGS" FloatingLeft="2443" FloatingTop="635" FloatingWidth="710" FloatingHeight="476" CanClose="True" LastActivationTimeStamp="05/06/2022 10:57:10" />
			</LayoutAnchorablePane>
		</LayoutAnchorablePaneGroup>
		<LayoutPanel Orientation="Vertical" DockWidth="1.4128571428571428*">
			<LayoutDocumentPaneGroup Orientation="Vertical">
				<LayoutDocumentPane DockHeight="1.0693000208047576*">
					<LayoutDocument Title="📐 DASHBOARD" IsSelected="True" ContentId="DASHBOARD" LastActivationTimeStamp="05/06/2022 12:55:21" />
					<LayoutDocument Title="🆎 CONCORDANCE TOOL" ContentId="CONCORDANCETOOL" />
					<LayoutDocument Title="⌂ START PAGE" ContentId="STARTPAGE" />
					<LayoutDocument />
					<LayoutDocument Title="⯭ TREEDOWN" ContentId="TREEDOWN" />
				</LayoutDocumentPane>
				<LayoutDocumentPane DockHeight="0.5531959159058384*">
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="⬒ SOURCE CONTEXT" IsSelected="True" IsLastFocusedDocument="True" ContentId="SOURCECONTEXT" FloatingLeft="3129" FloatingTop="641" FloatingWidth="999" FloatingHeight="292" CanClose="True" LastActivationTimeStamp="05/06/2022 12:55:21" />
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="⬓ TARGET CONTEXT" ContentId="TARGETCONTEXT" FloatingLeft="3129" FloatingTop="641" FloatingWidth="999" FloatingHeight="292" CanClose="True" />
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🖉 NOTES" ContentId="NOTES" FloatingLeft="3129" FloatingTop="641" FloatingWidth="999" FloatingHeight="292" CanClose="True" />
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="⍒ PINS" ContentId="PINS" FloatingLeft="3129" FloatingTop="641" FloatingWidth="999" FloatingHeight="292" CanClose="True" />
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🗐 TEXT COLLECTION" ContentId="TEXTCOLLECTION" FloatingLeft="3129" FloatingTop="641" FloatingWidth="999" FloatingHeight="292" CanClose="True" />
				</LayoutDocumentPane>
			</LayoutDocumentPaneGroup>
		</LayoutPanel>
	</RootPanel>
	<TopSide />
	<RightSide />
	<LeftSide />
	<BottomSide />
	<FloatingWindows />
	<Hidden />
</LayoutRoot>