<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
	<RootPanel Orientation="Horizontal">
		<LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="735.5999999999999" DockHeight="294.80000000000007" FloatingWidth="2750.4" FloatingHeight="304.8" FloatingLeft="28" FloatingTop="587.2">
			<LayoutAnchorablePane DockWidth="735.5999999999999" DockHeight="294.80000000000007" FloatingWidth="2750.4" FloatingHeight="304.8" FloatingLeft="28" FloatingTop="587.2">
				<LayoutAnchorable Title="PROJECT DESIGN SURFACE" ContentId="PROJECTDESIGNSURFACETOOL" AutoHideMinWidth="100" AutoHideMinHeight="100" IsSelected="True" FloatingLeft="28" FloatingTop="587.2" FloatingWidth="2750.4" FloatingHeight="304.8" LastActivationTimeStamp="07/22/2022 15:54:11" />
			</LayoutAnchorablePane>
		</LayoutAnchorablePaneGroup>
		<LayoutPanel Orientation="Vertical" DockWidth="1.4651026392961877*">
			<LayoutDocumentPane DockHeight="0.8277830637488106*">
				<LayoutDocument Title="CORPUS TOKENS" ContentId="CORPUSTOKENS" IsSelected="True" IsLastFocusedDocument="True" LastActivationTimeStamp="07/22/2022 15:54:11" />
			</LayoutDocumentPane>
		</LayoutPanel>
	</RootPanel>
	<TopSide />
	<RightSide />
	<LeftSide />
	<BottomSide />
	<FloatingWindows />
	<Hidden />
</LayoutRoot>