<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
	<RootPanel Orientation="Vertical">
		<LayoutPanel Orientation="Horizontal">
			<LayoutDocumentPaneGroup Orientation="Vertical" DockWidth="0.9108781127129753*">
				<LayoutDocumentPane Id="45ddccf6-aac8-406a-afeb-c05b663c3e6c" DockWidth="1.4714285714285715*" DockHeight="1.3781725888324874*">
					<LayoutDocument Title="⳼ ENHANCED CORPUS" IsSelected="True" IsLastFocusedDocument="True" ContentId="ENHANCEDCORPUS" LastActivationTimeStamp="09/16/2022 13:36:34" />
				</LayoutDocumentPane>
				<LayoutDocumentPane Id="496be0ba-541c-4c93-87f2-a8e168baf301" DockHeight="0.6218274111675127*">
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="⌺ WORD MEANINGS" IsSelected="True" ContentId="WORDMEANINGS" FloatingLeft="3069" FloatingTop="857" FloatingWidth="1422" FloatingHeight="160" CanClose="True" LastActivationTimeStamp="09/16/2022 13:36:24" />
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🕮 BIBLICAL TERMS" ContentId="BIBLICALTERMS" FloatingLeft="3068" FloatingTop="849" FloatingWidth="1422" FloatingHeight="160" CanClose="True" LastActivationTimeStamp="08/26/2022 14:16:43" />
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="⍒ PINS" ContentId="PINS" FloatingLeft="2924" FloatingTop="636" FloatingWidth="1422" FloatingHeight="160" CanClose="True" LastActivationTimeStamp="08/26/2022 14:16:41" />
					<LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🗐 TEXT COLLECTION" ContentId="TEXTCOLLECTION" FloatingLeft="2924" FloatingTop="636" FloatingWidth="1422" FloatingHeight="160" CanClose="True" LastActivationTimeStamp="08/26/2022 14:16:42" />
				</LayoutDocumentPane>
			</LayoutDocumentPaneGroup>
		</LayoutPanel>
	</RootPanel>
	<TopSide />
	<RightSide />
	<LeftSide />
	<BottomSide />
	<FloatingWindows />
	<Hidden />
</LayoutRoot>