<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
	<RootPanel Orientation="Vertical">
		<LayoutPanel Orientation="Horizontal" DockHeight="0.606781150631396*">
			<LayoutDocumentPaneGroup Orientation="Vertical" DockWidth="0.9108781127129753*">
				<LayoutDocumentPane Id="45ddccf6-aac8-406a-afeb-c05b663c3e6c" DockWidth="1.4714285714285715*" DockHeight="0.8*">
					<LayoutDocument Title="⳼ View" IsSelected="True" IsLastFocusedDocument="True" ContentId="ENHANCEDVIEW" LastActivationTimeStamp="07/10/2023 13:43:05" />
				</LayoutDocumentPane>
			</LayoutDocumentPaneGroup>
		</LayoutPanel>
		<LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="361" FloatingWidth="136" FloatingHeight="39" FloatingLeft="962" FloatingTop="993">
			<LayoutAnchorablePane Id="496be0ba-541c-4c93-87f2-a8e168baf301" DockHeight="361">
				<LayoutAnchorable AutoHideHeight="320" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="◕ Marble" IsSelected="True" ContentId="MARBLE" FloatingLeft="984" FloatingTop="645" FloatingWidth="936" FloatingHeight="390" LastActivationTimeStamp="07/10/2023 13:43:10" />
				<LayoutAnchorable AutoHideHeight="320" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🕮 Biblical Terms" ContentId="BIBLICALTERMS" FloatingLeft="3068" FloatingTop="849" FloatingWidth="1422" FloatingHeight="160" LastActivationTimeStamp="07/10/2023 13:40:56" />
				<LayoutAnchorable AutoHideHeight="320" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="⍒ Term Search" ContentId="PINS" FloatingLeft="2924" FloatingTop="636" FloatingWidth="1422" FloatingHeight="160" LastActivationTimeStamp="07/10/2023 13:41:00" />
				<LayoutAnchorable AutoHideHeight="320" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🗐 Text Collection" ContentId="TEXTCOLLECTION" FloatingLeft="2924" FloatingTop="636" FloatingWidth="1422" FloatingHeight="160" LastActivationTimeStamp="07/10/2023 13:41:04" />
				<LayoutAnchorable AutoHideHeight="320" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="🗐 Notes List" ContentId="NOTES" FloatingLeft="2924" FloatingTop="636" FloatingWidth="1422" FloatingHeight="160" LastActivationTimeStamp="07/10/2023 13:41:09" />
			</LayoutAnchorablePane>
		</LayoutAnchorablePaneGroup>
	</RootPanel>
	<TopSide />
	<RightSide />
	<LeftSide />
	<BottomSide />
	<FloatingWindows />
	<Hidden />
</LayoutRoot>